{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-dark" style="font-size: 4rem; font-weight: bold; text-align: center"> Approbio Fournisseur</h1>
    </div>
{% endblock %}
