{% extends 'base.html.twig' %}

{% block title %} Catégorie - {{ category.name }} {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text-dark" style="font-size: 4rem; font-weight: bold;"> {{ category.name }}</div>

                <a href="{{ path ('delete_category', {'id': category.id}) }}">
                    <input class="btn btn-dark"
                           type="button"
                           value="Supprimer la catégorie">
                </a>
                <a href="#" class="btn btn-dark">Voir les produits</a>
                <a href="{{ path('category') }}">
                    <input class="btn btn-dark"
                           type="button"
                           value="Retour">
                </a>
            </div>
        </div>
    </div>

{% endblock %}