{% extends 'base.html.twig' %}

{% block title %} Ajouter un produit {% endblock %}

{% block body %}

            <h1>Ajouter un produit</h1>



            <div class="row" style="text-align: center">
                <div class="col-md-12">
                    {{ form_start(form) }}

                </div>
            </div>

    <div class="row" style="text-align: center">

        {{ form_label(form.publish) }}

        <a href="{{ path('product') }}">
            <input class="btn btn-dark"
                   type="button"
                   value="Retour">
        </a>
    </div>

        </div>
    {{ form_end(form) }}
{% endblock %}